/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

a {
  /* Убирает подчеркивание */
  text-decoration: none;

  /* Устанавливает цвет текста */
  color: inherit;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*start*/

.header {
  text-align: center;
}

.horizontally_cabinet {
  height: clamp(2rem, 6vw, 3rem);
}

.cabinet {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbeaff;
  outline: 1px solid rgb(52, 85, 182);
  color: rgb(52, 85, 182);
  font-size: clamp(12px, 2.5vw, 18px);
}



.First_Floor-Container {
  display: flex;
  justify-content: center;
}

.First_Floor-Content {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(11, 1fr);
  max-width: 800px;
  grid-template-areas:
    "exit1-1 assistant-director1 assistant-director1 accounting assistant-director2 conference-room cab-staff_1-1 cab-104 exit1-2 . ."
    "corridor11 corridor12 corridor13 corridor14 corridor15 corridor16 corridor17 corridor18 corridor19 . ."
    "cab-staff_1-2 wc-w-top1 chancellery chancellery Chill_1-1 Chill_1-1 cab-105 wc-m-top1 corridor110 fake_corridor1 fake_corridor1"
    ". . . . . . . . corridor111 dressing-room eat-room"
    ". . . . . . . . corridor112 dressing-room eat-room"
    ". . . . . . . . corridor113 dressing-room eat-room"
    ". . . . . . . . corridor114 dressing-room eat-room"
    ". . . . . . . . corridor115 corridor-to-eat eat-room"
    "hospital wc-w-bot1 cab-110 cab-117 cab-123 cab-111 cab-122 wc-m-bot1 corridor1165 fake_corridor2 fake_corridor2"
    "corridor116 corridor117 corridor118 corridor119 corridor120 corridor121 corridor122 corridor123 corridor124 . ."
    "exit1-3 cab-109 cab-109 cab-108 cab-108 cab-107 cab-106 cab-106 exit1-4 . .";
}

.corridor_right-border {
  border-right: 1px solid rgb(52, 85, 182);
}

.corridor_left-border {
  border-left: 1px solid rgb(52, 85, 182);
}

.Dressing_room{
  border-right: 1px solid rgb(52, 85, 182);
}

.corridor-to-eat{
  border-top: 1px solid rgb(52, 85, 182);
}

.exit img {
  width: clamp(25px, 2vw, 50px);
  height: clamp(25px, 2vw, 50px);
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.wc img {
  width: clamp(30px, 4vw, 50px);
  height: clamp(30px, 4vw, 50px);
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.eat-room img{
  width: clamp(30px, 4vw, 60px);
  height: clamp(30px, 4vw, 60px);
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.hospital img{
  width: clamp(30px, 4vw, 40px);
  height: clamp(30px, 4vw, 40px);
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.Chill_1-1 img{
  width: clamp(30px, 4vw, 50px);
  height: clamp(30px, 4vw, 50px);
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.dressing-room, .eat-room{
  background-color:#dbeaff;
  border-right: 1px solid rgb(52, 85, 182);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(52, 85, 182);
  font-size: clamp(12px, 2vw, 16px);
  padding: 5px;
}

.First_Floor-cabinet{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbeaff;
  outline: 1px solid rgb(52, 85, 182);
  color: rgb(52, 85, 182);
  font-size: clamp(12px, 2vw, 16px);
  padding: 10px;
}

.fake_corridor1{
  border-bottom: 1px solid rgb(52, 85, 182) ;
}

.fake_corridor2{
  border-top: 1px solid rgb(52, 85, 182);
}

@media (hover: hover) {
  .cabinet:hover {
    background-color: #bed3f1;
  }
  .dressing-room:hover {
    background-color: #bed3f1;
  }
  .eat-room:hover {
    background-color: #bed3f1;
  }

}

@media (hover: none) {
  .cabinet:active {
    background-color: #dbeaff;
  }
}

@media (max-width: 1030px) {
  .dressing-room, .eat-room, .First_Floor-cabinet{
    padding: 0;
  }
}

/* Верхний ряд */
.First_Floor-exit1-1 { grid-area: exit1-1; }
.First_Floor-assistant-director1 { grid-area: assistant-director1; }
.First_Floor-accounting { grid-area: accounting; }
.First_floor-assistant-director2{ grid-area: assistant-director2;}
.First_Floor-conference-room{ grid-area: conference-room;}
.First_Floor-staff_1-1 { grid-area: cab-staff_1-1; }
.First_Floor-104 { grid-area: cab-104; }
.First_Floor-exit1-2 { grid-area: exit1-2; }

/* Верхний коридор */
.corridor11 { grid-area: corridor11; }
.corridor12 { grid-area: corridor12; }
.corridor13 { grid-area: corridor13; }
.corridor14 { grid-area: corridor14; }
.corridor15 { grid-area: corridor15; }
.corridor16 { grid-area: corridor16; }
.corridor17 { grid-area: corridor17; }
.corridor18 { grid-area: corridor18; }
.corridor19 { grid-area: corridor19; }

/* Левая вертикаль и верхние помещения */
.First_Floor-staff_1-2{ grid-area: cab-staff_1-2;}
.First_Floor-wc-w-top1 { grid-area: wc-w-top1; }
.First_Floor-chancellery{ grid-area: chancellery;}
.Chill_1-1{grid-area: Chill_1-1;}
.First_Floor-105 { grid-area: cab-105; }
.First_Floor-wc-m-top1 { grid-area: wc-m-top1; }
.First_Floor-118 { grid-area: cab-118; }
.First_Floor-120 { grid-area: cab-120; }
.First_Floor-119 { grid-area: cab-119; }



.corridor110 { grid-area: corridor110; }
.fake_corridor1{ grid-area: fake_corridor1;}
.corridor111 { grid-area: corridor111; }
.dressing-room{ grid-area: dressing-room;}
.eat-room{ grid-area: eat-room;}
.corridor112 { grid-area: corridor112; }
.corridor113 { grid-area: corridor113; }
.corridor114 { grid-area: corridor114; }
.corridor115 { grid-area: corridor115; }
.corridor-to-eat{ grid-area: corridor-to-eat;}



/* Нижний ряд */
.First_Floor-wc-w-bot1 { grid-area: wc-w-bot1; }
.First_Floor-110 { grid-area: cab-110; }
.First_Floor-117 { grid-area: cab-117; }
.First_Floor-123 { grid-area: cab-123; }
.First_Floor-111 { grid-area: cab-111; }
.First_Floor-122 { grid-area: cab-122; }
.First_Floor-wc-m-bot1 { grid-area: wc-m-bot1; }
.corridor1165{ grid-area: corridor1165;}
.fake_corridor2{ grid-area: fake_corridor2;}

/* Нижний коридор */
.First_Floor-hospital { grid-area: hospital; }
.corridor116 { grid-area: corridor116; }
.corridor117 { grid-area: corridor117; }
.corridor118 { grid-area: corridor118; }
.corridor119 { grid-area: corridor119; }
.corridor120 { grid-area: corridor120; }
.corridor121 { grid-area: corridor121; }
.corridor122 { grid-area: corridor122; }
.corridor123 { grid-area: corridor123; }
.corridor124 { grid-area: corridor124; }

/* Нижняя линия с выходами */
.First_Floor-exit1-3 { grid-area: exit1-3; }
.First_Floor-109 { grid-area: cab-109; }
.First_Floor-108 { grid-area: cab-108; }
.First_Floor-107 { grid-area: cab-107; }
.First_Floor-106 { grid-area: cab-106; }
.First_Floor-exit1-4 { grid-area: exit1-4; }